/* color variables */
:root {
    --cl-text: #faf7fd;
    --cl-background: #190b23;
    --cl-primary: #9f5ace;
    --cl-secondary: #250f33;
    --cl-accent: #9446c8;
}

/* setting font  */
* {
    font-family: Arial, Helvetica, sans-serif;
}

/* setting back ground color  */
body {
    background-color: var(--cl-background);
    color : white ;
    display: grid;
    justify-content: center;
}

/* styling the first page  */
.first-page {
    width: 380px;
    min-height: 850px;
    height: 100svh;
    text-align: center;
    padding: 0 1em;
}

/* heading  */
h1 {
    padding: 1em;
}

/* content styling */
.content {
    height: 80%;
    background-color: var(--cl-secondary);
    padding: 1em;
    border-radius: 20px;
    box-shadow: 0 0 11px 1px #9446c875;
}

/* introduction styling */
.intro {
    /* padding: 1em; */
    font-size: 1.1em;
    transform: translateY(2em);
}

/* caterories styling */
.categories {
    display: flex;
    flex-flow: column nowrap;
    margin-top: 0.5em;
    gap: 1.2em;
    align-items: center;
    transform: translateY(4em);
}

/* the buttons styling */
.categories>button {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    width: 85%;
    height: 3.8em;
    background-color: var(--cl-primary);
    color: white;
    font-weight: bold;
    border-radius: 1em;
    border: none;
    box-shadow: inset -2px -3px 4px 0 #5b297e;
    padding: 1em;
}
.categories img {
    width : 2em ;
    aspect-ratio: 1/1;
}

.main-page {
    display: none;
}

.final-page {
    display: none;
}